<a id='Map_Function'></a>
### Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [34]:
# Declaring the tuple
number = (11, 21, 30, 34)

In [35]:
# function defintion to implement the map 
def square(number):
    return map(lambda x: x ** 2, number)

# calling the function and saving the result in tuple format
res = tuple(square(number))
# Prnting the value
print(res)

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentence given below :**

**sentence = 'Python for Data Science'**

In [10]:
# declaring the string to save the sentence
sentence = 'Python for Data Science'

In [12]:
# Using map to make the split based on " " and then saving the length of each in a list
# printing the list contents on the same line
print(list(map(len, sentence.split(" "))))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [14]:
# declaring the number list 
number = [ 74, 85, 14, 23 ]

In [15]:
# Performing the map operation on the number list for each elements

# printing the data after saving the data in list format 

print(list(map(lambda x: x % 5, number)))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

In [27]:
# declaring the list and elements in them  

list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99,110]

In [30]:
# concatenating the elements of both list 

print(list(map(lambda x, y: x+str(y), list1, list2)))

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99', 'happy110']

<a id='Filter_Function'></a>
### Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [16]:
# declaring the list and elements in them  

arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

In [19]:
# performing te filter operation using lambda to find out the common elements in both list
common = filter(lambda x:x in arr1,arr2)
print(list(common))

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [20]:
# declaring the list and elements in them
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [25]:
# checking if the gien number is odd
is_odd = lambda x: x % 2 == 1

# calling the lambda function for each element of the list
odd_list = list(filter(is_odd, numbers))
print(odd_list)

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]