In [1]:
# Tuple 
# immutable, ()

In [2]:
tuple1 = (1,2,3)

In [3]:
type(tuple1)

tuple

In [4]:
tuple1[0]

1

In [5]:
tuple1[-1]

3

In [6]:
tuple1.count(1)

1

In [10]:
a = (1,2,3,"a", "b", 2, 2)

In [11]:
a.count(2)

3

In [12]:
b = (1,2,[10,20,30],2)

In [13]:
b

(1, 2, [10, 20, 30], 2)

In [14]:
c = (1,2,(10,20,30), 2)

In [15]:
c

(1, 2, (10, 20, 30), 2)

In [16]:
c.index(2)

1

In [17]:
c[2]

(10, 20, 30)

In [18]:
c[2][1]

20

In [19]:
b

(1, 2, [10, 20, 30], 2)

In [20]:
b[2]

[10, 20, 30]

In [21]:
b[2][1]

20

In [22]:
type(b)

tuple

In [23]:
type(b[2])

list

In [24]:
b[2][1]

20

In [25]:
b[2][1] = 200

In [26]:
b

(1, 2, [10, 200, 30], 2)

In [27]:
b[2]

[10, 200, 30]

In [28]:
b[2] = [10]

TypeError: 'tuple' object does not support item assignment

In [29]:
list1 = b[2]

In [30]:
list1

[10, 200, 30]

In [31]:
b

(1, 2, [10, 200, 30], 2)

In [32]:
b[2].pop()

30

In [33]:
b

(1, 2, [10, 200], 2)

In [34]:
b[2].pop()

200

In [35]:
b[2].pop()

10

In [36]:
b

(1, 2, [], 2)

In [37]:
b[2].pop()

IndexError: pop from empty list

In [38]:
b1 = (1, 2, [10, 200, 30], 2)

In [39]:
b1[2]

[10, 200, 30]

In [40]:
b1[2].clear()

In [41]:
b1

(1, 2, [], 2)

In [42]:
len(b1)

4

In [43]:
lis2 = []

In [44]:
type(lis2)

list

In [45]:
lis2

[]

In [46]:
len(lis2)

0

In [47]:
b1

(1, 2, [], 2)

In [48]:
b1 = (1,2,[1,2],2)

In [49]:
b1.count(2)

2

In [51]:
# Dictionary 
# unordered collection of key-value pair
# Mutable

In [52]:
students = {}

In [53]:
type(students)

dict

In [54]:
students = {'id': 100, 'name': 'John', 'marks': 80}

In [55]:
students['id']

100

In [56]:
students

{'id': 100, 'name': 'John', 'marks': 80}

In [57]:
students['id'] = 101

In [58]:
students

{'id': 101, 'name': 'John', 'marks': 80}

In [59]:
students['phone'] = 999999999

In [60]:
students

{'id': 101, 'name': 'John', 'marks': 80, 'phone': 999999999}

In [61]:
students['ID'] = 10001

In [62]:
students

{'id': 101, 'name': 'John', 'marks': 80, 'phone': 999999999, 'ID': 10001}

In [63]:
students['student_id'] = 101

In [64]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101}

In [65]:
students['address'] = None

In [66]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None}

In [67]:
students[1] = None

In [68]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None,
 1: None}

In [69]:
students[[1,2]] = None

TypeError: unhashable type: 'list'

In [70]:
students[(1,2)] = None

In [71]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None,
 1: None,
 (1, 2): None}

In [72]:
students['data'] = {1:2, 2: 10, 3: 10}

In [73]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None,
 1: None,
 (1, 2): None,
 'data': {1: 2, 2: 10, 3: 10}}

In [74]:
students[None] = None

In [75]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None,
 1: None,
 (1, 2): None,
 'data': {1: 2, 2: 10, 3: 10},
 None: None}

In [76]:
students[None] = 1

In [77]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None,
 1: None,
 (1, 2): None,
 'data': {1: 2, 2: 10, 3: 10},
 None: 1}

In [78]:
students[''] = 1

In [79]:
students

{'id': 101,
 'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None,
 1: None,
 (1, 2): None,
 'data': {1: 2, 2: 10, 3: 10},
 None: 1,
 '': 1}

In [80]:
students[] = 20

SyntaxError: invalid syntax (<ipython-input-80-af5ae4991ee9>, line 1)

In [82]:
student1 = {"tuple1": (1,2,'a')}

In [83]:
student1

{'tuple1': (1, 2, 'a')}

In [84]:
student1['tuple1']

(1, 2, 'a')

In [85]:
student1['tuple1'] = (1,2, 'b')

In [86]:
student1

{'tuple1': (1, 2, 'b')}

In [87]:
student1['tuple1']

(1, 2, 'b')

In [88]:
students.pop('id')

101

In [89]:
students

{'name': 'John',
 'marks': 80,
 'phone': 999999999,
 'ID': 10001,
 'student_id': 101,
 'address': None,
 1: None,
 (1, 2): None,
 'data': {1: 2, 2: 10, 3: 10},
 None: 1,
 '': 1}

In [90]:
students.keys()

dict_keys(['name', 'marks', 'phone', 'ID', 'student_id', 'address', 1, (1, 2), 'data', None, ''])

In [91]:
students.values()

dict_values(['John', 80, 999999999, 10001, 101, None, None, None, {1: 2, 2: 10, 3: 10}, 1, 1])

In [92]:
students.items()

dict_items([('name', 'John'), ('marks', 80), ('phone', 999999999), ('ID', 10001), ('student_id', 101), ('address', None), (1, None), ((1, 2), None), ('data', {1: 2, 2: 10, 3: 10}), (None, 1), ('', 1)])

In [93]:
len(students)

11

In [94]:
len(student1)

1

In [95]:
student1

{'tuple1': (1, 2, 'b')}

In [97]:
student1['tuple1'][1]

2

In [99]:
#Sets - unordered
# unique mutable elements

In [100]:
set1 = {1, 'a', 'b', False}

In [101]:
set1

{1, False, 'a', 'b'}

In [102]:
type(set1)

set

In [103]:
set1[0]

TypeError: 'set' object is not subscriptable

In [105]:
set2 = {1, 'a', 'b', 'a', 'b', 'b', False}

In [106]:
set2

{1, False, 'a', 'b'}

In [109]:
set3 = {1,'a', True, 'b', False, 0}

In [110]:
set3

{1, False, 'a', 'b'}

In [111]:
set3 = {1,'a', True, 'b', 0, False}

In [112]:
set3

{0, 1, 'a', 'b'}

In [113]:
set3

{0, 1, 'a', 'b'}

In [117]:
s1 = {1,2,3}
s2 = {1,5,6}

In [115]:
s1

{1, 2, 3}

In [116]:
s2

{1, 5, 6}

In [118]:
s1.union(s2)

{1, 2, 3, 5, 6}

In [119]:
s1.intersection(s2)

{1}

In [120]:
comp = 3 + 2j

In [121]:
comp

(3+2j)

In [122]:
type(comp)

complex

In [123]:
s1

{1, 2, 3}

In [124]:
s1.add(3)

In [125]:
s1

{1, 2, 3}

In [126]:
s1.add(4)

In [128]:
s1

{1, 2, 3, 4}

In [129]:
s1.discard(2)

In [130]:
s1

{1, 3, 4}

In [131]:
s1.discard(2)

In [132]:
s1

{1, 3, 4}

In [133]:
s1.remove(1)

In [134]:
s1

{3, 4}

In [135]:
s1.remove(1)

KeyError: 1

In [136]:
set1 = {}

In [137]:
type(set1)

dict

In [138]:
set2 = set()

In [140]:
type(set2)

set

In [141]:
list10 = list()

In [142]:
dict1 = dict()

In [143]:
t1 = tuple()

In [144]:
list20 = []

In [145]:
set10 = {1,2,3}
dict10 = {1:2, 3:4}

In [146]:
dict1 = {'a': 10, {1,2}: 20}

TypeError: unhashable type: 'set'

In [147]:
s1 = set()

In [148]:
s1

set()

In [149]:
type(s1)

set

In [156]:
s2 = {1,2,2.5,'a','b', "John's", """Mark""", False}

In [157]:
s2

{1, 2, 2.5, False, "John's", 'Mark', 'a', 'b'}

In [166]:
s1 = {1,2,3}
s2 = {2,4,6}
s3 = {10.5, 'a', 4}

In [167]:
s1.intersection(s2, s3)

set()

In [168]:
s1.union(s2).union(s3)

{1, 10.5, 2, 3, 4, 6, 'a'}

In [170]:
s1.union(s2.union(s3))

{1, 10.5, 2, 3, 4, 6, 'a'}

In [171]:
s2.union(s3)

{10.5, 2, 4, 6, 'a'}

In [172]:
s1

{1, 2, 3}

In [173]:
s2

{2, 4, 6}

In [174]:
s3

{10.5, 4, 'a'}

In [176]:
s1.union(s2)

{1, 2, 3, 4, 6}

In [177]:
s1.intersection(s2)

{2}

In [178]:
s1.intersection(s2.intersection(s3))

set()

In [179]:
# Conditional statements
# if statement

In [182]:
a = 7
if a < 10:
    print("a is less than 10")
    print("Hello")
print("Bye")

a is less than 10
Hello
Bye

In [184]:
a = 70
if a < 10:
    print("a is less than 10")
    print("Hello")
print("Bye")

b = 30
print(b)

Bye
30

In [185]:
a = 20
if a < 10:
    print('a is less')
else:
    print('a is more')

a is more

In [187]:
a = 11
a/2

5.5

In [188]:
a % 2

1

In [194]:
a = 6
if a % 2 == 0: # True
    print("Even number")
elif a % 3 == 0: #True
    print('It is divisible by 3')
else:
    print('a is not divisible by 2 and 3')

It is divisible by 3

In [190]:
5 % 2

1

In [200]:
a = 27
if False or True or False:
    print("It is divisible by 2 or 3 or 6")
else:
    print('a is not divisible by 2, 3 and 6')

It is divisible by 2 or 3 or 6

In [201]:
False or True

True

In [202]:
10 + 20

30

In [203]:
20 + 3 * 10

50

In [205]:
#if I pass 30 to b, what will happens?
b=int(input('enter a value:')
if b % 2 == 0:
    print('Even Number')
elif b % 3 == 0:
    print('b is divisible by 3')
else:
    print('b is not divisible by 2 and 3')

enter a value:30
Even Number

In [207]:
a = 1
if a > 10: # False
    if a % 2 == 0 and a % 3 == 0:
        print("something")
    else:
        print("else")

In [208]:
if a > 10:
print("a is greater")

IndentationError: expected an indented block (<ipython-input-208-cc3795bda194>, line 2)

In [210]:
a = 100
if a > 10:
    print("a is greater")

a is greater

In [222]:
a = 10
b = 40 
c = 30

if a>b and a>c:
    print('a is the greatest')
elif b>a and b>c:
    print('b is the greatest')
else:
    print('c is the greatest')

b is the greatest

In [ ]:
# & bitwise operator 010101

In [223]:
a = 9  #1001
b = 10 #1010
a & b # 1000

8

In [225]:
a = 10
print(f'{a} is something')

10 is something

In [226]:
print(a)

10

In [227]:
print(a, 'is something')

10 is something

In [228]:
print(f'We are learning {a}. There are {b} students today')

We are learning 10. There are 10 students today

In [229]:
# Loops
# While loop

In [230]:
#while condition:
#    statements

In [236]:
num = 100
while num > 1: # True/False
    print(num)
    print('Number is greater than 0')
    num = num / 5

100
Number is greater than 0
20.0
Number is greater than 0
4.0
Number is greater than 0

In [233]:
101 / 5

20.2

In [234]:
101 // 5

20

In [237]:
# for loop

In [238]:
#for var in seq:
#    statements

In [239]:
profits = [8, 12, 9, 15]

In [240]:
profits

[8, 12, 9, 15]

In [241]:
print(profits[0])

8

In [242]:
print(profits[1])

12

In [243]:
print(profits[2])

9

In [244]:
print(profits[3])

15

In [252]:
for profit in profits:
    print(profit, end='     ')

8     12     9     15

In [253]:
for i in len(profits):
    print(i)

TypeError: 'int' object is not iterable

In [254]:
str1 = "hello"
for i in str1:
    print(i)

h
e
l
l
o

In [255]:
# range()

In [257]:
range(10)

range(0, 10)

In [258]:
# range(start, stop, step)

In [259]:
range(10,20,1)

range(10, 20)

In [261]:
# range(stop) -> 1 argumnet -> goes from 0 to stop-1

In [262]:
# range(start, stop) - 2 args -> goes froom start to stop -1

In [263]:
#range(start,stop,step) - > 3 args -> goes from start to (stop-1) with 'step' increament each time

In [264]:
for i in range(5): # 0,1,2,3,4
    print(i)

0
1
2
3
4

In [265]:
for j in range(5, 10): # 5,6,7,8,9
    print(j)

5
6
7
8
9

In [267]:
for k in range(10, 22, 3): # 10, 13, 16, 19
    print(k)

10
13
16
19

In [269]:
for i in range(40, 30, -2):# 40, 38, 36, 34, 32
    print(i)

40
38
36
34
32

In [270]:
# continue
# break
# pass

In [272]:
for i in range(10): # 0,1,2,3,..9
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [277]:
# break
for i in range(10): # 0,1,2,3,..9
    if i % 2 != 0:
        print("here")
        break
        print("there")
    print(i)
##### here

here

In [279]:
for j in range(5):
    if j == 3:
        break
    print(j)

0
1
2

In [280]:
a = 100
if a == 100:
    break

SyntaxError: 'break' outside loop (<ipython-input-280-91a87160b038>, line 3)

In [281]:
# pass
for num in range(5):
    if num % 2 == 0:
        pass
    print(num)

0
1
2
3
4

In [287]:
for num in range(5):
    if num % 2 == 0:
        pass
    else:
        print(num)

1
3

In [289]:
for i in range(10):
    pass

In [290]:
for s in 'Hello':
    print(s)

H
e
l
l
o