In [ ]:
# Tokens
# -

# Python

In [4]:
10

10

In [5]:
10
20

20

In [6]:
print(10)
print(20)

10
20

In [7]:
a = 10

In [8]:
print(a)

10

In [9]:
# Tokens
# - keywords - False, Treu, while, for, class, def, etc.
# Identifiers - function, variables. my_var = 10 
# Literals - 
    # Boolean - True, False
    # None
# Operators - a + b , 10 > 20, and, or, not

In [10]:
True and True

True

In [11]:
not True

False

In [13]:
not False

True

In [14]:
False and True

False

In [15]:
a = 10

In [16]:
print(a)

10

In [17]:
b = 20

In [18]:
a = 100
b = 200
c = 300

In [19]:
a = 100

In [20]:
type(a)

int

In [21]:
b = hello

NameError: name 'hello' is not defined

In [22]:
str1 = 'hello'

In [23]:
type(str1)

str

In [24]:
str1

'hello'

In [25]:
id(str1)

140325175875888

In [26]:
print(str1)

hello

In [27]:
a

100

In [28]:
id(a)

4375057856

In [29]:
a = 200

In [30]:
a

200

In [31]:
id(a)

4375061056

In [32]:
print(a)

200

In [33]:
a = a + 10

In [34]:
id(a)

4375061376

In [35]:
s1 = "Hello World"

In [36]:
type(s1)

str

In [38]:
id(s1)

140325175943856

In [39]:
s2 = "Hi"

In [40]:
s1

'Hello World'

In [41]:
s2

'Hi'

In [42]:
s1 + s2

'Hello WorldHi'

In [43]:
s1 + ' ' + s2

'Hello World Hi'

In [44]:
s1

'Hello World'

In [45]:
s1[0]

'H'

In [46]:
# Hello World
# 012345678910

In [47]:
s1[1]

'e'

In [48]:
s2 = "Hello  World"

In [49]:
s2[5]

' '

In [50]:
s2[6]

' '

In [51]:
s2[7]

'W'

In [52]:
s1

'Hello World'

In [53]:
# H e l l o   W o r l d
# 0 1 2 3 4 5 6 7 8 9 10
# 11109 8 7 6 5 4 3 2 1 (negative)

In [54]:
s1[-1]

'd'

In [55]:
s1[-3]

'r'

In [56]:
s1[8]

'r'

In [57]:
len(s1)

11

In [58]:
# input()
num = input("Enter a number:")

Enter a number:10

In [59]:
print(num)

10

In [60]:
type(num)

str

In [61]:
# Type casting
# Implicit - System does it
# Explicit - We do it

In [62]:
num = int(num)

In [63]:
type(num)

int

In [64]:
num1 = int(input("Enter a number:"))

Enter a number:50

In [65]:
type(num1)

int

In [66]:
num2 = float(input("Enter a number:"))

Enter a number:30

In [68]:
type(num2)

float

In [69]:
num2

30.0

In [70]:
str10 = int(input())

John

ValueError: invalid literal for int() with base 10: 'John'

In [71]:
str(30)

'30'

In [72]:
int("John")

ValueError: invalid literal for int() with base 10: 'John'

In [73]:
f1 = 50.7

In [74]:
type(f1)

float

In [75]:
a

210

In [76]:
w = float(a)

In [77]:
w

210.0

In [78]:
int(50.6)

50

In [80]:
str = 10

str(30)

In [81]:
str(10)

TypeError: 'int' object is not callable

In [1]:
str

str

In [2]:
def = 10

SyntaxError: invalid syntax (<ipython-input-2-62f5cf358967>, line 1)

In [3]:
num10 = 10

In [4]:
Num10 = 20

In [5]:
num10

10

In [6]:
Num10

20

In [7]:
Def = 10

In [8]:
False

False

In [9]:
True

True

In [10]:
None

In [11]:
print('False')

False

In [12]:
print(False)

False

In [13]:
type('False')

str

In [14]:
type(False)

bool

In [15]:
num1=10, num2=20

SyntaxError: cannot assign to literal (<ipython-input-15-1b7b9ed73571>, line 1)

In [18]:
True
False

False

In [17]:
print(False)

False

In [19]:
num1, num2 = 10, 20

In [20]:
a=1; b=2; c=3

In [21]:
a

1

In [22]:
b

2

In [23]:
c

3

In [24]:
a = 1
b = 2
c = 3

In [25]:
# List - sqeuence of elements - mutable - different type of elements are allowed
list1 = [1, 2, 3, 5]

In [27]:
list2 = ['q', 'q', 'John', 10, 20, "Hello", 70.5]

In [28]:
student1 = [10, 'John', 81.5]

In [29]:
student1

[10, 'John', 81.5]

In [30]:
type(student1)

list

In [31]:
student1[0]

10

In [32]:
student1[1]

'John'

In [33]:
student1[2]

81.5

In [34]:
student1[-1]

81.5

In [35]:
student1[3]

IndexError: list index out of range

In [36]:
str2 = '''This is Python session'''

In [37]:
str2

'This is Python session'

In [38]:
str2 = ''''This is Python session''''

SyntaxError: EOL while scanning string literal (<ipython-input-38-a62555a7562b>, line 1)

In [39]:
str4 = """This is Python session"""

In [40]:
print('Python's')

SyntaxError: invalid syntax (<ipython-input-40-f70ee4a3a80d>, line 1)

In [41]:
print("Python's")

Python's

In [42]:
print('Python"s')

Python"s

In [43]:
student1

[10, 'John', 81.5]

In [44]:
student1.append('Added')

In [45]:
student1

[10, 'John', 81.5, 'Added']

In [46]:
student1.append(100)

In [47]:
student1

[10, 'John', 81.5, 'Added', 100]

In [48]:
len(student1)

5

In [49]:
student1.append(100, 20)

TypeError: append() takes exactly one argument (2 given)

In [50]:
student1.append(200)

In [51]:
len(student1)

6

In [52]:
student1

[10, 'John', 81.5, 'Added', 100, 200]

In [53]:
student1.insert(100)

TypeError: insert expected 2 arguments, got 1

In [54]:
student1

[10, 'John', 81.5, 'Added', 100, 200]

In [55]:
student1.insert(3, 85.5)

In [56]:
student1

[10, 'John', 81.5, 85.5, 'Added', 100, 200]

In [57]:
student1.insert(-2, "Negatve")

In [58]:
student1

[10, 'John', 81.5, 85.5, 'Added', 'Negatve', 100, 200]

In [59]:
student1.insert(-1, 1000)

In [60]:
student1

[10, 'John', 81.5, 85.5, 'Added', 'Negatve', 100, 1000, 200]

In [61]:
student2 = [1,2,3]

In [62]:
student1.append(student2)

In [63]:
student1

[10, 'John', 81.5, 85.5, 'Added', 'Negatve', 100, 1000, 200, [1, 2, 3]]

In [64]:
student1[-1]

[1, 2, 3]

In [65]:
student1[1]

'John'

In [66]:
student1[1] = "Mary"

In [67]:
student1

[10, 'Mary', 81.5, 85.5, 'Added', 'Negatve', 100, 1000, 200, [1, 2, 3]]

In [68]:
student1[1] = 1000

In [69]:
student1[1]

1000

In [70]:
type(student1[1])

int

In [71]:
student1

[10, 1000, 81.5, 85.5, 'Added', 'Negatve', 100, 1000, 200, [1, 2, 3]]

In [72]:
student1.append(200)

In [73]:
student1

[10, 1000, 81.5, 85.5, 'Added', 'Negatve', 100, 1000, 200, [1, 2, 3], 200]

In [74]:
student2

[1, 2, 3]

In [75]:
student1.extend(student2)

In [76]:
student1

[10,
 1000,
 81.5,
 85.5,
 'Added',
 'Negatve',
 100,
 1000,
 200,
 [1, 2, 3],
 200,
 1,
 2,
 3]

In [77]:
student1[-1]

3

In [78]:
list2 = [1,2,3]

In [79]:
list2

[1, 2, 3]

In [80]:
list3 = list2.extend([4,5])

list2

In [81]:
list2

[1, 2, 3, 4, 5]

In [82]:
a1 = [1,2,3]
a2 = [4,5]

In [83]:
a1

[1, 2, 3]

In [84]:
a2

[4, 5]

In [85]:
b = a1 + a2

In [86]:
b

[1, 2, 3, 4, 5]

In [87]:
a1

[1, 2, 3]

In [88]:
lis10 = [1,2,3, [3.2,3.4,4.5]]

In [89]:
lis10

[1, 2, 3, [3.2, 3.4, 4.5]]

In [91]:
len(lis10)

4

In [95]:
lis10[3]

[3.2, 3.4, 4.5]

In [96]:
lis10[3][1]

3.4

In [97]:
lis10.append('Hello')

In [98]:
lis10

[1, 2, 3, [3.2, 3.4, 4.5], 'Hello']

In [99]:
lis10[-1]

'Hello'

In [100]:
lis10[-1][-1]

'o'

In [101]:
lis10[1]

2

In [102]:
lis10[1][-1]

TypeError: 'int' object is not subscriptable

In [103]:
a = lis10[1]

In [104]:
a

2

In [105]:
a[-1]

TypeError: 'int' object is not subscriptable

In [106]:
lis10

[1, 2, 3, [3.2, 3.4, 4.5], 'Hello']

In [107]:
lis10.append(True)

In [108]:
lis10

[1, 2, 3, [3.2, 3.4, 4.5], 'Hello', True]

In [109]:
l = [True, False, True, False]

In [110]:
l

[True, False, True, False]

In [111]:
l.extend([1,2,3])

In [112]:
l

[True, False, True, False, 1, 2, 3]

In [113]:
l.append([1,2,3])

In [114]:
l

[True, False, True, False, 1, 2, 3, [1, 2, 3]]

In [115]:
l.remove(1)

In [116]:
l

[False, True, False, 1, 2, 3, [1, 2, 3]]

In [117]:
l

[False, True, False, 1, 2, 3, [1, 2, 3]]

In [118]:
a = [10, 20, 30, 40]

In [119]:
a.remove(20)

In [120]:
a

[10, 30, 40]

In [121]:
1

1

In [122]:
l

[False, True, False, 1, 2, 3, [1, 2, 3]]

In [123]:
l.remove(0)

In [124]:
l

[True, False, 1, 2, 3, [1, 2, 3]]

In [125]:
l.remove(0)

In [126]:
l

[True, 1, 2, 3, [1, 2, 3]]

In [127]:
l1 = [0, 1, True, False]

In [128]:
l1

[0, 1, True, False]

In [129]:
l1.remove(1)

In [130]:
l1

[0, True, False]

In [131]:
l1

[0, True, False]

In [132]:
a

[10, 30, 40]

In [133]:
l = [True, False, True, False, 1, 2, 3, [1, 2, 3]]

In [134]:
l

[True, False, True, False, 1, 2, 3, [1, 2, 3]]

In [135]:
l.pop(4)

1

In [136]:
l

[True, False, True, False, 2, 3, [1, 2, 3]]

In [137]:
res = l.pop(4)

In [138]:
l

[True, False, True, False, 3, [1, 2, 3]]

In [139]:
res

2

In [140]:
l

[True, False, True, False, 3, [1, 2, 3]]

In [141]:
l[-1]

[1, 2, 3]

In [142]:
l[-1].pop(1)

2

In [143]:
l

[True, False, True, False, 3, [1, 3]]