Analysing IoT Data with Spark Sql

In [ ]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Installing findspark
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
# Installing pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 59.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=ae313fff398a779e1e4b769a73b1775bff230094de9ca3877aa3c95ad1ef5b56
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
# Installing java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
import findspark
findspark.init()

In [ ]:
import pyspark.sql.functions as pyf

In [ ]:
# Creating a spark session
from pyspark.sql import DataFrame, SparkSession
spark = SparkSession.builder.appName("House Price Prediction").getOrCreate()
spark

In [ ]:
# Specifying the file path
file_location = "/content/drive/MyDrive/ColabNotebooks/iot_devices.json"

In [ ]:
# Reading the dataset to a dataframe
df = spark.read.json(file_location)

In [ ]:
# Displaying the number of rows and columns
print((df.distinct().count(), len(df.columns)))

(30072, 16)

In [ ]:
df.show()

+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|_corrupt_record|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|           null|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|           null|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|           null|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|           null|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|           null|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|           null|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|           null|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|           null|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|           null|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|           null|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|           null|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|           null|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|           null|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|           null|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|           null|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|           null|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|           null|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|           null|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|           null|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|           null|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- battery_level: long (nullable = true)
 |-- c02_level: long (nullable = true)
 |-- cca2: string (nullable = true)
 |-- cca3: string (nullable = true)
 |-- cn: string (nullable = true)
 |-- device_id: long (nullable = true)
 |-- device_name: string (nullable = true)
 |-- humidity: long (nullable = true)
 |-- ip: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- lcd: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- scale: string (nullable = true)
 |-- temp: long (nullable = true)
 |-- timestamp: long (nullable = true)

In [ ]:
# Creating a temporary view called iot
df.createOrReplaceTempView("iot")

In [ ]:
# Count how many devices are there from each country and display the output.
spark.sql("SELECT cn, COUNT(DISTINCT device_id) as Number_of_devices FROM iot GROUP BY cn ORDER BY Number_of_devices DESC").show()

+-----------------+-----------------+
|               cn|Number_of_devices|
+-----------------+-----------------+
|    United States|            10348|
|            China|             2164|
|            Japan|             1858|
|Republic of Korea|             1774|
|          Germany|             1260|
|   United Kingdom|              988|
|           Russia|              933|
|           Canada|              892|
|           France|              816|
|           Brazil|              506|
|            Italy|              476|
|        Australia|              449|
|           Sweden|              433|
|           Poland|              400|
|      Netherlands|              395|
|           Taiwan|              348|
|            Spain|              330|
|            India|              278|
|                 |              253|
|          Austria|              236|
+-----------------+-----------------+
only showing top 20 rows

In [ ]:
# All the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.
spark.sql("SELECT cn FROM iot WHERE c02_level > 1400 ORDER BY c02_level DESC").show()

+--------------+
|            cn|
+--------------+
|        France|
|        Canada|
| United States|
|       Germany|
|   Philippines|
|        Canada|
| United States|
|         Spain|
|         Japan|
|        Poland|
| United States|
| United States|
|United Kingdom|
|United Kingdom|
| United States|
| United States|
|         China|
| United States|
| United States|
|         China|
+--------------+
only showing top 20 rows

In [ ]:
# Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids
spark.sql("SELECT device_name,device_id,cca3 FROM iot WHERE lcd = 'red' GROUP BY device_name,device_id,cca3 ORDER BY device_id").show()

+--------------------+---------+----+
|         device_name|device_id|cca3|
+--------------------+---------+----+
|   sensor-pad-2n2Pea|        2| NOR|
| device-mac-36TWSKiT|        3| ITA|
|sensor-pad-8xUD6p...|        8| JPN|
|sensor-pad-10Bsyw...|       10| USA|
|meter-gauge-11dlM...|       11| ITA|
|sensor-pad-16aXmI...|       16| USA|
|meter-gauge-17zb8...|       17| USA|
|meter-gauge-19eg1...|       19| USA|
|  sensor-pad-22oWV2D|       22| JPN|
|sensor-pad-24Pytz...|       24| CAN|
|  device-mac-27P5wf2|       27| KOR|
|sensor-pad-28Tsud...|       28| KOR|
|meter-gauge-47WsF9s8|       47| UKR|
|meter-gauge-534fD...|       53| SWE|
|sensor-pad-5410CW...|       54| USA|
|device-mac-57tRB0...|       57| USA|
|  sensor-pad-64djcIn|       64| USA|
|sensor-pad-663dzo...|       66| CZE|
|meter-gauge-77IKW...|       77| IND|
|sensor-pad-78PkeI...|       78| KOR|
+--------------------+---------+----+
only showing top 20 rows

In [ ]:
# All devices in countries whose batteries need replacements.
spark.sql("SELECT device_name as Device_Battery_Dead, device_id FROM iot WHERE battery_level = 0 GROUP BY Device_Battery_Dead, device_id").show()

+--------------------+---------+
| Device_Battery_Dead|device_id|
+--------------------+---------+
|meter-gauge-1075K...|      107|
|sensor-pad-354ztT...|      354|
|device-mac-2757kb...|     2757|
|meter-gauge-41092...|     4109|
|therm-stick-5485e...|     5485|
|sensor-pad-9038r8...|     9038|
|sensor-pad-11448P...|    11448|
|sensor-pad-12444M...|    12444|
|sensor-pad-16942T...|    16942|
|sensor-pad-180044...|    18004|
|device-mac-18129q...|    18129|
|sensor-pad-18532R...|    18532|
|device-mac-111WYt...|      111|
|sensor-pad-1054chHSf|     1054|
|sensor-pad-13970q...|    13970|
|meter-gauge-18037...|    18037|
|meter-gauge-19661...|    19661|
|meter-gauge-253jo...|      253|
|sensor-pad-62442c...|     6244|
|meter-gauge-6929z...|     6929|
+--------------------+---------+
only showing top 20 rows